.hero{
    scroll-margin-top: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
     min-height: 110vh; /* Increased from 100vh */
     padding-top: 100px;
}
.hero img{
    width: 100%;
    height: auto;
    max-width: 350px;
   
}
.hero img:hover{
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}
.hero h1{
    font-size: 40px;
    width: 50%;
    font-weight: 600;
    text-align: center;
    line-height:  1.3;
}
.hero h1 span{
    background-clip:text;
    color: #ff6a00;
}
.hero p{
    margin-top: 10px;
    width: 50%;
    font-size: 22px;
    text-align: center;
    max-width: 800px;
}
.hero-action{
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: 24px;
    font-weight: 500;
    margin-top: 30px; 
    margin-bottom: 50px;
}
.hero-connect{
    padding: 10px 20px;
    border-radius: 50px;
    background: linear-gradient(267deg, #ff6a00 0.36%, #ee0979 102.02%);
    cursor: pointer;
}
.hero-connect:hover{
    border: 2px solid white
}
.hero-resume{
    padding: 10px 20px;
    border-radius: 50px;
    border: 2px solid #FFF;
    cursor: pointer;
}
.hero-resume:hover{
    border-color: #ff6a00;
}
@media(max-width:768px){
.hero img{
    margin-top: 120px;
    width: 260px;
}
.hero h1{
    margin-top: 50px;
    width: 90%;
    font-size: 50px;
}
.hero p{
    width: 60%;
    font-size: 18px;
    line-height: 30px;
    margin: 10px 10px;
}
.hero-action{
    gap:16px;
    font-size: 18px;
    font-weight: 500;
    margin: 50px;
}
.hero-connect{
    padding: 20px 30px;
    border-radius: 40px;
}
.hero-resume{
    padding: 20px 30px;
    border-radius: 40px;
}
}